<h1>Word Play</h1>

<h3>Add a word here:</h3>

<form action="/words" method="post">
  <label for='name'>Word:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Word</button>
</form>

<ul>
  <% @words.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.add_word() %></a></li>
  <% end %>
</ul>
